
body {
    width: 960px; 
    margin: auto; 
}

img {
    width: 200px; 
    height: 200px;
    margin: 10px 0;  
}

.student-container {
    width: 225px;
    min-height: 500px;
    padding: 0 10px;  
    float: left; 
}

.student-name {
    font-weight: bold;
}
