<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>

        <h1>CTI Summer Open Source Experience</h1>

        <ul>
            <li>
                <a href="/2025">Summer 2025 Cohort</a> 
            </li>
            <li>
                <a href="/2024">Summer 2024 Cohort</a> 
            </li>
            <li>
                <a href="/2023">Summer 2023 Cohort</a> 
            </li>
            <li>
                <a href="/2022">Summer 2022 Cohort</a> 
            </li>
        </ul>

    </body>
</html>
