</head>
<body>
    <header>
        <h1> Microinternship C - Team 1 </h1>
    </header>

    <main>
        <h6>Members:</h6> <br>

        <a href="https://github.com/johnny603">Johnny</a>
        <img src="JohnnySselfie.png">
        <br>

        <a href="">Drake</a>
        <br>

        <a href="">Jericho</a>
        <br>

        <h6>Description:</h6>
        <p>(Content goes here)</p>
    </main>

    <footer>
        <p>&copy; 2025 Johnny, Drake, Jericho. All rights reserved.</p>
    </footer>