<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Isaiah Chavez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Sirasit Thitirattanakorn </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Mariano Miranda Herrera </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Pedro Rangel </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Paul Zamora </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Alexia Leon Lopez </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Josue Santos </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Alex Jeter </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Ivan Martinez </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Jack Lopez </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Luz Violeta Robles </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Jose Diaz-Trinidad </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Yulisa Ayala </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Isai Molina </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Marcos Arroyo </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Melody Neely </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Pradeep Pansare </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Ana Alfaro </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Dylan Glo Ignacio </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Agustin Alejandre </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
    
    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Edgar Fuentes </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
    
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Diego Vega </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Mason Allred </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Zachary Mendoza </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Joshua Gonong </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Romano Edwin Ramirez </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Shoto Morisaki </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Jonathan Ramirez </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Aret Tinoco </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Jasmine Moua </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Cindy Park </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Truc Tran </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Tyler Miranda </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Sean Archer </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Dale Sanchez </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Daniel Zavala </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Ula </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Wail Mohammed </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Anitha Rajamohan </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
        
    <div class="student-container">  
            <div>
                <img src="">
            </div>
            <div class="student-name"> Jennifer Nguyen </div>
            <div> School:  </div>
            <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Edgar Fuentes </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Diego Vega </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Mason Allred </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Zachary Mendoza </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Joshua Gonong </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Romano Edwin Ramirez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Shoto Morisaki </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Jonathan Ramirez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Aret Tinoco </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Jasmine Moua </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Cindy Park </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Truc Tran </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Tyler Miranda </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Sean Archer </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Dale Sanchez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Daniel Zavala </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Ula </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Wail Mohammed </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Anitha Rajamohan </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Jennifer Nguyen </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/johnny_pic.jpg">
        </div>
        <div class="student-name"> Johnny Nguyen </div>
        <div> School: Orange Coast College</div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning real world skills that are crucial for my future career.  </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Ryan Gutierrez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Jericho Imperial </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> AnMei Dasbach-Prisk </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Michelle Tan </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Julian Diaz </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Kent Nguyen </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Armondo Lopez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Jason Jock Nava Casareno </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Wicaksa Munajat </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Alok Shah </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Elisha Dela Pena </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/Nick_A.jpeg">
        </div>
        <div class="student-name"> Nicholas Anderson </div>
        <div> School: CSUMB </div>
        <p> I hope to make new friends, and gain new experiences at my internship.
            To be honest, I am not sure what to expect, but learning some new technologies,
            and learning from other people's experience would make me happy. 
        </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Irvine Martinez </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Anna Albright </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="static\img\Nikolai.png">
        </div>
        <div class="student-name"> Nikolai Bashkirov </div>
        <div> School: UC Berkeley </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is improving my technical knowledge and contributing to a meaningful project.</p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Adrian Nguyen </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Logan Bates </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Adrian Tuschek </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Guillermo Zendejas </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Anmol Gill </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Mark Nguyen </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Ngoc Duc Thinh Nguyen </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/marc.PNG">
        </div>
        <div class="student-name"> Marc Garcia </div>
        <div> School:  CSU Monterey Bay</div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning more about GitHub and meeting the mentors and teammates for the CodeDay Labs </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Oscar Diaz Vega </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Ritu Seth </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Sarah Ling </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Alexander Medina </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Juan Suria </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

    <div class="student-container">  
        <div>
            <img src="">
        </div>
        <div class="student-name"> Daniel Pantoja </div>
        <div> School:  </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>

</body>
</html>