<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Yo</title>
    </head>
    <body>
    <h1> Summer 2024 Cohort </h1>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
        <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
    <div class="student-container">  
      <div>
          <img src="static/img/brian_nguyen.jpg">
      </div>
      <div class="student-name"> Brian Nguyen </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning from industry mentors, gaining valuable experience in widely used applications, and growing my skills. </p>
      <a href="#">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Natalia Gill </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="nat_uts">Team Nat & Utsab</a>
    </div>
   

    
<div class="student-container">  
  <div>
      <img src="static/img/tat.png">
  </div>
  <div class="student-name">Tat Chung Chan</div>
  <div> School: UC Berkeley</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working on some intersting projects and meet interesting people! </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Haolong Deng</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhenyu Yu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/tapia.jpeg">
  </div>
  <div class="student-name">Luis Tapia</div>
  <div> School: California State Montery Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining something valueable to add to my resume. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Julian Ediberto Valencia </div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/lizzy.jpg">
  </div>
  <div class="student-name">Zhongle Zhou</div>
  <div> School: University of North Carolina, Chapel Hill </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands-on experience, collaborating with talented peers, and learning from industry professionals  </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Nathan Pham</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/estefania.jpg">
  </div>
  <div class="student-name">Estefania Celeste Perez</div>
  <div> School: CSU Long Beach </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining technical experience to put on my resume and connect with like-minded indviduals.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Daniel Martinez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/long.JPG">
  </div>
  <div class="student-name">Long Dao</div>
  <div> School: CSULB </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to enhance my skills and gain hands-on experience</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/emily_sarne.jpg">
  </div>
  <div class="student-name">Emily Mae Sarne</div>
  <div> School: Southwestern Community College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to gain experience and knowledge from the experience. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Minjia(Mia) Tao</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/eddie_R.jpg">
  </div>
  <div class="student-name">Eduardo</div>
  <div> School: CSUSM </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is, the experience of being in an internshiop like environment.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>giot 
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/BenjaminManhNguyen.jpeg">
  </div>
  <div class="student-name">Benjamin Manh Hung Nguyen</div>
  <div> School: California State University, Fullerton </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting experience from contributing to open-source project and expanding my network with people in same industry. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zongling Guo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Daniel_S.JPG">
  </div>
  <div class="student-name">Daniel Solano</div>
  <div> School: California State University, Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting to work on an interesting project, and distinct challenges. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/ab.jpg">
  </div>
  <div class="student-name">Abrham Tamiru</div>
  <div> School: California State Univercity Long Beach </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting hand on experience </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/porter_clevidence_pfp.jpg">
  </div>
  <div class="student-name">Porter Clevidence</div>
  <div> School: CSULB </div>
  <p> What I'm looking forward to during the CodeDay labs internship is getting to contribute 
      to an amazing project and meet some great people.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Samuel_L.png">
  </div>
  <div class="student-name">Samuel Lo</div>
  <div> School:  UCLA </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is contributing to technology developers commonly use. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Jean-Luc.jpeg">
  </div>
  <div class="student-name">Jean-Luc Martel</div>
  <div> School: CSU Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is strengthening my skills in open source software and learning how to utilize new technologies. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/SergioZavala.jpg">
  </div>
  <div class="student-name">Sergio Zavala</div>
  <div> School: CSU Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is the ability to enhance my skills in debugging and broaden my skills with new technologies. </p>
  <a href="chey_serg_ted">Team Cheyenne, Sergio, & Tedman</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/jasonKim.jpg">
  </div>
  <div class="student-name">Jason Kim</div>
  <div> School: CSUMB </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting hands on experience to work on a project. Being able to work on a project to help boost my resume will be 
    very helpful for me in the long run. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/cesarcordero.jpg">
  </div>
  <div class="student-name">Cesar Cordero </div>
  <div> School: CSU Channel Islands </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining exprience and working on a new project. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Pierre Harbin</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/alana_img.png">
  </div>
  <div class="student-name">Alana Dubie</div>
  <div> School: Palomar College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is collaborating and learning from my team. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/avin_pic.png">
  </div>
  <div class="student-name">Avin Rai</div>
  <div> School: De Anza College</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning a lot of new software engineering skills and working with cool people! </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/brodywhelan.jpg">
  </div>
  <div class="student-name">Brody Whelan</div>
  <div> School: CSU Fullerton  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working with a mentor/group to contribute to an open source app that is used in the real world </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Angel Medina</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/isaac_pic.jpg">
  </div>
  <div class="student-name">Isaac Palompo</div>
  <div> School: Diablo Valley College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is making a meaningful contribution to my project. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/henry_peng.png">
  </div>
  <div class="student-name">Henry Peng</div>
  <div> School: CSUS  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining real life work experience. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Tien_Pham.jpg">
  </div>
  <div class="student-name">Tien Pham</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is being able to gain tangible work experience while working in a group environment. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">John Mikko Reyes Velasquez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/phongtruong.jpg">
  </div>
  <div class="student-name">Phong Truong (Toan Truong)</div>
  <div> School: CSU LB </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to study how to work in workplace in the future. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/pranathi_graduated.jpg">
  </div>
  <div class="student-name">Pranathi Chamarthi</div>
  <div> School: El Camino College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining knowledge and experience that I can use to hone my skills and build my personality. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/mkowata_pic.jpeg">
  </div>
  <div class="student-name">Michael Shinkwang Kowata</div>
  <div> School: CSUDH </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting hands-on experience to put on my resume. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Kyongsu.K.jpeg">
  </div>
  <div class="student-name">Kyongsu Kang</div>
  <div> School: CSULB </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to work on the issues with the teammates. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/kartikeya.jpg" style="height: 200; width: 175;">
  </div>
  <div class="student-name">Kartikeya Kumaria</div>
  <div> School: UC Santa Cruz </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship are building new connections and being able collaborate on a web project from scratch. I would also love to learn about Machine Learning and AI.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Emily Madsen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Tam Ly</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/allison_chan.jpg">
  </div>
  <div class="student-name">Allison Chan</div>
  <div> School:  De Anza College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining real world experience and working with
        my team and mentor.  </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ledi Li</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Gabriel Myers</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Wesley Sum</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Achsah Maria Jojo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Lingyu Hu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/kristine.png">
  </div>
  <div class="student-name">Kristine Nguyen</div>
  <div> School: CSU Long Beach </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working with my peers and mentor! </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>

<div class="student-container">  
  <div>
      <img src="static/img/xiaoxuan.jpg">
  </div>
  <div class="student-name">Xiaoxuan Wang</div>
  <div> School: SFSU </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is collaboraing with my peers and learning new skills. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Benjamin Khor Zhi Ming</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Julian Ochoa Villicana</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/xiao.png">
  </div>
  <div class="student-name">Alan Xiao</div>
  <div> School:  San Jose State University</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning about open source </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Angel Zaldivar</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alireza Manizani</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/chynna_pic.jpeg">
  </div>
  <div class="student-name"> Chynna Syas </div>
  <div> School: El Camino College</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is meeting and working with new people. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alexis Guzman</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/ryan_d.jpg">
  </div>
  <div class="student-name">Ryan Duong</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is meeting new people and getting real world coding experience. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alden Duarte-Vasquez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/maryam.jpg">
  </div>
  <div class="student-name">Maryam Bouamama</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is building something new! </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/emilysh.jpg">
  </div>
  <div class="student-name">Emily Sok Hawkins</div>
  <div> School: CSULB </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is meeting new people and learning from them. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/AndreiDuque.jpg">
  </div>
  <div class="student-name">Andrei Solomon Sanidad Duque</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is expanding my git knowledge and working together with a team on a large project! </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/DurleyG.jpg">
  </div>
  <div class="student-name">Durley sandrith Galvan Jimenez </div>
  <div> School: Laney College</div>
  <p>What I'm most looking forward to about the CodeDay Labs internship is gaining experience in real-world problems and learning a lot from experts.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/jaehoon_song.jpeg">
  </div>

  <div class="student-name">Jaehoon Song</div>
  <div> School:  University of California, Irvine</div>
  <p>I'm looking forward to leveraging my open-source project knowledge that I've learned from the past and apply it to make a meaningful contribution to a new project.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Image_2024.png">
  </div>
  <div class="student-name">Tony Wu</div>
  <div> School: San Francisco State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining practical experience in teamwork and becoming adept at navigating the GitHub workflow. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/RuxueJin.jpg">
  </div>
  <div class="student-name">Ruxue Jin</div>
  <div> School: San Francisco State Univeristy </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining real-world programming experience and updating my resume. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/k.png">
  </div>
  <div class="student-name">Krystelle Barroso</div>
  <div> School: CSU Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working with a team of new people and working towards the same goal. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/shermanz.jpg">
  </div>
  <div class="student-name">Zhiyuan Zhang</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Gyugang Lee</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhimin Meng</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Hannah Cotterell</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Bryan.jpg">
  </div>
  <div class="student-name">Bryan Khor</div>
  <div> School:  San Francisco State University</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to gain experience working on a project in a team and 
    be able to add a new entry in my resume.
  </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/cjt_pfp.jpg">
  </div>
  <div class="student-name">Cheyenne Marie Jao Ty</div>
  <div> School: Cal Poly Humboldt </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning more about the process of committing to open source projects and using the Git Workflow. </p>
  <a href="chey_serg_ted">Team Cheyenne, Sergio, & Tedman</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Jesus_pic.jpg">
  </div>
  <div class="student-name">Jesus Garcia Loyola </div>
  <div> School: California State University, Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to get experience and explore what type og job I what in the future. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Brian Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/saad.jpg">
  </div>
  <div class="student-name">Saad Malik Paracha</div>
  <div> School: University of San Francisco </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is my first contribution to open source! (hoping this is the first of many to come) </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/mustafa_evgin_pic.jpg">
  </div>
  <div class="student-name">Mustafa Evgin Demirci</div>
  <div> School: California State University Long Beach </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is obtaining beneficial work experience to be more
    competitive in the job market. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/cristobal_e.jpg">
  </div>
  <div class="student-name">Cristobal Elizarraraz Rios</div>
  <div> School:  CSU Monterey Bay</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is being able to put this experience into my resume.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Kyla Macapagal Usi</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/DustinPhan.JPG">
  </div>
  <div class="student-name">Dustin Nam Phan</div>
  <div> School: California State University Long Beach</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/1693774162156.jpg">
  </div>
  <div class="student-name">Tedman Nguyen</div>
  <div> School:  Orange Coast College / UCI </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working on computer science problems that will help me grow as an engineer </p>
  <a href="chey_serg_ted">Team Cheyenne, Sergio, & Tedman</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Keith Ruxton</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">William Wong</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Youkyoung_Kim.jpg">
  </div>
  <div class="student-name">Youkyoung Kim</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working with a team to contribute to meaningful open source project. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/joshiro.jpeg">
  </div>
  <div class="student-name">Joshiro Lawrence</div>
  <div> School: De Anza College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining experience in new technologies. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Benjamin Choi</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/ocean_pic.jpg">
  </div>
  <div class="student-name">Ocean Tober</div>
  <div> School: CSU Sacramento </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is becoming more confident in my development
    skills as a whole and building more practical experience. I look forward to applying everything i've learned at 
    university. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Diana Galeana</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/aaron.jpg">
  </div>
  <div class="student-name">Honghao Lin</div>
  <div> School:  University of California San Diego</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to collaborate with teammates on amazing projects </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/george.jpg">
  </div>
  <div class="student-name">George Jones</div>
  <div> School:  El Camino College</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to gain more experience with contributing to OS projects </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/usman_pic.jpg">
  </div>
  <div class="student-name">Usman Tahir</div>
  <div> School:  El Camino College</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting real experience working the software engineering field. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Nicholas Tran</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Kenneth.JPG">
  </div>
  <div class="student-name">Kenneth Requerme Ramos</div>
  <div> School: Orange Coast College</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is improving my skills to be ready for an internship and making a contribution to an open source software project.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Jia Jun Yang</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/AlexanderChang.jpg">
  </div>
  <div class="student-name">Alexander Chang</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining experience and learning new technologies. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhufan Gu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">YU AN PAN</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/luc_pic.png">
  </div>
  <div class="student-name">Luc Nguyen</div>
  <div> School: CSU Long Beach</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning about open source and meeting new people! </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/arthurnguyen_pic.jpg">
  </div>
  <div class="student-name">Arthur Nguyen</div>
  <div> School: Cal Poly Pomona </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning new skills and gaining experience. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Christian Barajas</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/brianliu.png">
  </div>
  <div class="student-name">Brian Liu</div>
  <div> School: De Anza </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is gaining valuable experience working in a more professional setting </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Oliviayu.jpeg">
  </div>
  <div class="student-name">Yijun Yu</div>
  <div> School: Georgia Tech </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is do fun projetcs and meet new friends </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/andy_pic.jpeg">
  </div>
  <div class="student-name">Andy Vo</div>
  <div> School: Orange Coast College</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning new technologies and working with teammates to make a contribution!</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/ting_z.jpg">
  </div>
  <div class="student-name">Ting Zhu</div>
  <div> School: University of Pennsylvania </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is collaborating with teammates and learning new skills and technologies. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ravneet Bhatia</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Shizhan Liu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/adharo.jpg">
  </div>
  <div class="student-name">Adrian Haro</div>
  <div> School: CSU Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is the experience I'll gain working in a proper SWE workflow. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/SebastianR.jpeg">
  </div>
  <div class="student-name">Sebastian Ramos</div>
  <div> School: California State Montery Bay  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working with temamates to make a meaningful project to add top our resumes.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Minh_T.jpg">
  </div>
  <div class="student-name">Minh Tran</div>
  <div> School: CSU San Macros</div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is to gain new experience, learn more about Github, and contribute to the Open Source Project.</p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/sd.jpg">
  </div>
  <div class="student-name">Pramodya Rajapakse</div>
    <div> School: UCSD </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning from an experienced mentor and hopefully contributing to an impactful project. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>

<div class="student-container">  
  <div>
      <img src="static/img/chung_tran.jpeg">
  </div>
  <div class="student-name">Ngoc Chung Tran</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is working on an intersting project and having wonderful experience </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/carly_pic.jpeg">
  </div>
  <div class="student-name"> Carly Thomas </div>
  <div> School: Los Angeles Pierce College </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is developing my software engineering skills while working with others on an open source app with real world application. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
    

    
</body>
</html>
