<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Yo</title>
    </head>
    <body>
    <h1> Summer 2025 Cohort </h1>
    <div class="student-container">
        <div>
          <img src="Sselfie.pngJohnny">
        </div>
        <div class="student-name"> Johnny Santamaria </div>
        <div> School: San Francisco State University </div>
        <p> What I am most looking forward to collab with other students to increase my technical soft and hard skills </p>
    </div>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
        <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
    <div class="student-container">  
      <div>
          <img src="static/img/Suchith_Gali.jpeg">
      </div>
      <div class="student-name"> Suchith Gali </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning valuable job and teamworking skills from experienced engineers.</p>
      <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/New_LinkedIn_2.jpg">
        </div>
        <div class="student-name"> Brette Fitzgibbon </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning new open source and programming skills. </p>
        <a href="michael_brette_joshua_krishneet">Team page: Michael, Brette, Joshua, Krishneet</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/ProfilePicture.jpg">
        </div>
        <div class="student-name"> Kevin Beltran </div>
        <div> School: Cal Poly SLO </div>
        <p> I am really looking forward to learning about how to contribute to open source through CodeDay Labs </p>
        <a href="/bo_kevin_miller">Team Bo & Kevin & Miller </a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/Andre_Dargani.jpg">
        </div>
        <div class="student-name"> Andre Dargani </div>
        <div> School: San Francisco State University </div>
        <p> I'm excited to make my first open source contriubtion and make a positive impact to the open source community </p>
        <a href="./rav">Team Regina, Andre, and Vansh</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/c_tangonan.jpg">
        </div>
        <div class="student-name"> Chris Tangonan </div>
        <div> School: CSU Monterey Bay </div>
        <p> I'm looking forward to learning more about the open source community, and to hopefully provide a meaningful contribution to the team. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/jinan_A.jpg">
        </div>
        <div class="student-name"> Jinan Al-Maliky </div>
        <div> School: Bellevue College </div>
        <p> I'm looking forward to learning more about the experience and connections we all will be making.   </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/ezequiel_pic.jpg">
        </div>
        <div class="student-name"> Ezequiel Reyes </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm looking forward to about the CodeDay Labs internship is gaining experience and making a meaningful contribution. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

            <img src="static/img/IMG_5733.jpeg">
        </div>
        <div class="student-name"> Brent Uyguangco </div>
        <div> School: El Camino College </div>
        <p> I am excited to be a part of CTI's open source partnership with CodeDay, hoping to make a positive contribution to the best of my abilities </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/static/img/neel_pic.jpeg">
        </div>
        <div class="student-name"> Neel Deshmukh </div>
        <div> School: City College of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is addig some open-source experience to my resume! </p>
    </div>
    <div class="student-container">  
        <div>
            <img src="static/img/jane_pic.jpg">
        </div>
        <div class="student-name"> Jane Swingler </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is making my first contribution to an open source project. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>


    <div class="student-container">  
        <div>
            <img src="static/img/LarsV.jpg">
        </div>
        <div class="student-name"> Lars Voigt-Bui </div>
        <div> School: Irvine Valley College </div>
        <p> What I'm most looking fowards to is the Open Source programs and improving my coding skills. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/marcelo_villalobos.jpg">
        </div>
        <div class="student-name"> Marcelo Villalobos Diaz </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is the opportunity to collaborate with a diverse group of talented peers and industry professionals. </p>
        <!-- <a href="nat_uts">Team Nat & Utsab</a> -->
    </div>



    <div class="student-container">  
        <div>
            <img src="static/img/KoichiNakata.jpg">
        </div>
        <div class="student-name"> Koichi Nakata </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands-on experience of open-source project! </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/aizen.png">
        </div>
        <div class="student-name">Aizen Baidya</div>
        <div>School: UC Merced</div>
        <p>What I'm most looking forward to about the CodeDay Labs internship is learning about and gaining experience
            working with industry-relevant technologies and contributing to a meaningful open-source project.</p>
    </div>


    <div class="student-container">  
        <div>
            <img src="static/img/AungKhantMin.JPG">
        </div>
        <div class="student-name"> Aung Khant Min </div>
        <div> School: Skyline College </div>
        <p> I'm looking forward to learning more about GitHub! </p>
        <a href="/mia_victor_alec"> Team Mia, Victor, and Alec </a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/vansh-patel.jpeg">
        </div>
        <div class="student-name"> Vansh Patel </div>
        <div> School: CSULB </div>
        <p> What I'm most looking forward to about the CodeDay internship is learning more about software engineering and gaining real world experience in that field. </p>
        <a href="rav">Team Regina, Andre, and Vansh</a>
      </div>


    <div class="student-container">  
        <div>
            <img src="static/img/Regina_Huang.jpg">
        </div>
        <div class="student-name"> Regina Huang </div>
        <div> School: Northeastern University</div>
        <p> I’m really looking forward to gaining hands-on experience and collaborating on open-source projects through the CodeDay Labs internship! </p>
        <a href="rav">Team Regina, Andre, and Vansh</a>
      </div>

      <div class="student-container">  
        <div>
            <img src="static/img/emilyyee.jpg">
        </div>
        <div class="student-name"> Emily Yee </div>
        <div> School: Las Positas College </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is getting to learn new skills and working with others :). </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

            <img src="static/img/jerry.jpeg">
        </div>
        <div class="student-name"> Jerry Nguyen </div>
        <div> School: San Jose State University </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is collaborating on an open-source project with like-minded peers. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/justins.jpeg">
        </div>
        <div class="student-name"> Justin Saminathen </div>
        <div> School: San Jose State University </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is gaining experience on open-source contributions as part of a team.  </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>
    <div class="student-container">  
        <div>
            <img src="static/img/Demi_C.jpg">
        </div>
        <div class="student-name"> Ziqi(Demi) Chen </div>
        <div> School: CSU Fullerton </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands-on experiences and meeting amazing people! </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/WillY.jpg">
        </div>
        <div class="student-name"> Will Young </div>
        <div> School: San Francisco State University </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands-on experiences and meeting amazing people! </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/kaulan_img.jpg">
        </div>
        <div class="student-name"> Kaulan Serzhanuly </div>
        <div> School: SJSU </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is experience and skills. </p>
        <a href="nat_uts">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

   <div class="student-container">
        <div>
            <img src="static/img/IMG_1298.jpg">
        </div>
        <div class="student-name"> Ye Chan Lin </div>
        <div> School: Orange Coast College </div>
        <p> What excites me most about the CodeDay Labs internship is the opportunity to gain practical experience while connecting with incredible people!</p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/jeffreycheung_pic.png">
        </div>
        <div class="student-name"> Jeffrey Cheung </div>
        <div> School: Cal Poly SLO </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is collaboration and industry relevant skills. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/kundyz_pic.jpg">
        </div>
        <div class="student-name"> Kundyz Serzhankyzy </div>
        <div> School: San Jose State University </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is gaining experience and learning more! </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/asahiner.jpg">
        </div>
        <div class="student-name"> Ahmet Sahiner </div>
        <div> School: CCSF </div>
        <p> What I'm most looking forward to about the CodeDay internship is learning more about software engineering and gaining real world experience in that field. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>
    <div class="student-container">
        <div>
            <img src="static/img/IMG_6510[1].JPG">
        </div>
        <div class="student-name"> Dane Deacon </div>
        <div> School: Gavilan College </div>
        <p> What I am most looking forward to collab with other students to increase my technical soft and hard skills to advance my carrer </p>
    </div>
                                 
    <div class="student-container">
        <div>
          <img src="static/img/J-Dees-pic.jpg">
        </div>
        <div class="student-name">Jonathan Dees</div>
        <div> School: Cal Poly SLO </div>
        <p> What I am most looking forward to about the CodeDay internship is learning how to effectively contribute to open source software development </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>       
                  
    <div class="student-container">  
        <div>
            <img src="static/img/Anthony_Thengs.jpg">
        </div>
        <div class="student-name"> Anthony Theng </div>
        <div> School: CSULB </div>
        <p> What I'm most looking forward to about the CodeDay internship is learning more about software engineering gaining experience with open-source. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>

    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/IMG_8421.jpg">
        </div>
        <div class="student-name"> Jasleen Narang </div>
        <div> School: San Jose State University </div>
        <p> What I'm most looking forward to about the CodeDay internship is gaining more experience and understanding of workplace ettiquete and everyday life. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
   </div>

    <div class="student-container">
        <div>
          <img src="static/img/Amormio.png">
        </div>
        <div class="student-name"> Amormio Velasquez III </div>
        <div> School: University of California, San Diego </div>
        <p> I am eager to have my first experience in the open source community and hopefully make an impactful contribution.</p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">
        <div>
          <img src="static/img/agamjot.png">
        </div>
        <div class="student-name"> Agamjot Singh </div>
        <div> School: San Jose State University</div>
        <p> What I'm most looking forward to about the CodeDay internship is more about open source techniques!</p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/sophiaalexander.jpeg">
        </div>
        <div class="student-name"> Sophia Alexander </div>
        <div> School: Santa Monica College </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning how to collaborate with my team on code, learning from experienced engineers, and making an impact.</p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
      </div>

      <div class="student-container">  
        <div>
            <img src="static/img/SaraLisboa.jpg">
        </div>
        <div class="student-name"> Sara Chlihi </div>
        <div> School: Grossmont College </div>
        <p> I'm excited to apply what I learned in a professional setting.</p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
      </div>
      
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/joshualinang.jpg">
        </div>
        <div class="student-name"> Joshua Linang </div>
        <div> School: CUNY Hunter College </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is meeting people, gaining valuable experience, and working on projects with a team. </p>
        <a href="nat_uts">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/barr_kiko.png">
        </div>
        <div class="student-name"> Kiko Barr </div>
        <div> School: Cal Poly Humboldt </div>
        <p> I am excited to make my first open source contribution and get to know my Computing Talent Initiative peers through my CodeDay internship. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
   </div>
     
    <div class="student-container">  
        <div>
            <img src="static/img/Phineas_pic.jpg">
        </div>
        <div class="student-name"> Phineas Asmelash </div>
        <div> School: UC Santa Cruz </div>
        <p> What I'm looking for codeday labs expereince is to gain new skills, network with industry mentors, and make a contribution to an open source project. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>


    <div class="student-container">  
        <div>
            <img src="static/img/IMG_1324.jpg">
        </div>
        <div class="student-name"> Brendan Sick </div>
        <div> School: Grossmont College </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is getting the experience! </p>
        <a href="nat_uts">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>



  <div class="student-container">  
    <div>
        <img src="static/img/allen.jpeg">
    </div>
        <div class="student-name"> Allen Tam </div>
        <div> School: De Anza College </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning new skills! </p>
   </div>
      
    <div class="student-container">  
        <div>
            <img src="static/img/asher_pfp.png">
        </div>
        <div class="student-name"> Asher Drake Alacar </div>
        <div> School: San Jose State University </div>
        <p> I am looking forward to gaining experience in a team environment contributing to a large project in CodeDay Labs! </p>
        <a href="nat_uts">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/alejandro.jpg">
        </div>
        <div class="student-name"> Alejandro Navarro </div>
        <div> School: California State University San Marcos </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is to gain experience in an enviornment that's close to what working in the real world will be like! </p>
        <a href="nat_uts">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">
        <div>
          <img src="static/img/chris_da_sheep.jpeg"> 
        </div>
        <div class="student-name"> Christine(Chris) Tran </div>
        <div> School: CSU San Marcos </div>
        <p> What I am most looking forward to about the CodeDay Labs internship is learning from my experiences, increasing my skills, and the opportunity to network with others! :) </p>
        <a href="nat_uts">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

</body>
</html>
