<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
    <h1> Summer 2023 Cohort </h1>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
    </div>
    
   
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Sneha De </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Alisha Maddy </div>
      <div> School: Portland community college </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Yuancheng Cao </div>
      <div> School: UCSD </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Sebastian Santoyo </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Diego  Zavala </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Andres Ventura </div>
      <div> School: CSUSB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Brian Palomar-Salazar </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ian Wong </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Zachary Spang </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Sunveer Bhullar </div>
      <div> School: Cal Poly Pomona </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Luke Berry </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ngoc Chung Tran </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Magiber Aparicio </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> ShawnAnthony Templer </div>
      <div> School: College of the Desert </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Nghia Pham </div>
      <div> School: Evergreen Valley College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Trong Le </div>
      <div> School: Evergreen Valley College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Michelle Tan </div>
      <div> School: Returning CTI Student </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jorge Moreno </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Brenden Inhelder </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Noah_Jacinto.PNG" />
      </div>
      <div class="student-name"> Noah Jacinto </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands on experience and working with people along the way. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Darren Seng </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> David Nicolas Garcia </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Maya Chidambaram </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jesse Garcia </div>
      <div> School: Bakersfield College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Dominic Infante </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Travis Chong </div>
      <div> School: UCI </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Diego  Espinoza </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Joshua Fernandez </div>
      <div> School: CSP - Toro CSP at CSUDH </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Valerie Escalante </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Shengzhe Zhang </div>
      <div> School: UCD </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ling Ching Liu </div>
      <div> School: Humboldt State </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Michael Chen </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Kory Callanan </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ricardo Nunez </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Siham Argaw </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ricardo  Perez Jr. </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jaime  Palacios </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Alvin Yee </div>
      <div> School: UCI </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Fernando Rodriguez </div>
      <div> School: CSUDH </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Alison Fung </div>
      <div> School: Cal Poly Pomona </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Robert Carlson </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Hong Ngoc Nguyen </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Elias  Woldie </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> James  Ramos </div>
      <div> School: Contra Costa College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edgar Ramirez </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Nicholas Lee </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> YiOnni Redmon </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Tuan Tran </div>
      <div> School: Pasadena City College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Mohammed Mohamed </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jessica Nguyen </div>
      <div> School: College of Marin </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Dylan Cornel </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Dongping Guo </div>
      <div> School: CSUEB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Emmanuel Jones-Pacheco </div>
      <div> School: San Diego State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edgar Hernandez </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Kyle Drewes </div>
      <div> School: Sonoma State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Nicolas Mederos </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Zhenyu Yu </div>
      <div> School: University of California Santa Barbara </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Elizabeth Barco Lopez </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Rahul Gupta </div>
      <div> School: CSUS </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Conlyn Pattison </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edmond Lee </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Tam Nguyen </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Carlos Santiago Pacheco </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Gagan Rampur </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Bhumin solanki </div>
      <div> School: CSUDH </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Minh Tran </div>
      <div> School: CSUSM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jorge Marquez </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edenilson Zetino </div>
      <div> School: Bakersfield College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Akhil Kalakota </div>
      <div> School: Moorpark College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Carlos Lopez </div>
      <div> School: San Diego State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Camille Clendenon </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Soroush  Mahdavi </div>
      <div> School: San Diego Mesa college  </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Eric Escareno </div>
      <div> School: CSUSM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Aleia Natividad </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Megan  Chung </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Wilmer  Chang </div>
      <div> School: CCNY </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Kerem Evrenosoglu </div>
      <div> School: University of San Francisco </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Anisha Jadhav </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Samuel Lara </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ryan Daliwal </div>
      <div> School: Humboldt State </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Victor Zavala </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Sirasit Thitirattanakorn </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>
    

    
</body>
</html>
