<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Yo</title>
    </head>
    <body>
    <h1> Summer 2025 Cohort </h1>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
        <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
    <div class="student-container">  
      <div>
          <img src="static/img/Suchith_Gali.jpeg">
      </div>
      <div class="student-name"> Suchith Gali </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning valuable job and teamworking skills from experienced engineers.</p>
      <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/New_LinkedIn_2.jpg">
        </div>
        <div class="student-name"> Brette Fitzgibbon </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning new open source and programming skills. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/KevinBeltran.jpg">
        </div>
        <div class="student-name"> Kevin Beltran </div>
        <div> School: Cal Poly SLO </div>
        <p> I am really looking forward to learning about how to contribute to open source through CodeDay Labs </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    
</body>
</html>
