<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Yo</title>
    </head>
    <body>
    <h1> Summer 2024 Cohort </h1>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
        <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Natalia Gill </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="nat_uts">Team Nat & Utsab</a>
    </div>
   

    
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Tat Chung Chan</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Haolong Deng</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhenyu Yu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Luis Tapia</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Julian Ediberto Valencia </div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhongle Zhou</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Nathan Pham</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Estefania Celeste Perez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Daniel Martinez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Long Dao</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Emily Mae Sarne</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Minjia(Mia) Tao</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Eduardo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Benjamin Manh Hung Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zongling Guo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Daniel Solano</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Abrham Tamiru</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Porter Clevidence</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Samuel Lo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Jean-Luc Martel</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="/static/img/SergioZavala.jpg">
  </div>
  <div class="student-name">Sergio Zavala</div>
  <div> School: CSU Monterey Bay </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is the ability to enhance my skills in debugging and broaden my skills with new technologies. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/jasonKim.jpg">
  </div>
  <div class="student-name">Jason Kim</div>
  <div> School: CSUMB </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is getting hands on experience to work on a project. Being able to work on a project to help boost my resume will be 
    very helpful for me in the long run. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Cesar Cordero </div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Pierre Harbin</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alana Dubie</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Avin Rai</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Brody Whelan</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Angel Medina</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Isaac Palompo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Henry Peng</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/Tien_Pham.jpg">
  </div>
  <div class="student-name">Tien Pham</div>
  <div> School: San Jose State University </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is being able to gain tangible work experience while working in a group environment. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">John Mikko Reyes Velasquez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Phong Truong (Toan Truong)</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Pranathi Chamarthi</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Michael Shinkwang Kowata</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Kyongsu Kang</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Kartikeya Kumaria</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Emily Madsen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Tam Ly</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Allison Chan</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ledi Li</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Gabriel Myers</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Wesley Sum</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Achsah Maria Jojo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Lingyu Hu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Kristine Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Benjamin Khor Zhi Ming</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Julian Ochoa Villicana</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alan Xiao</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Angel Zaldivar</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alireza Manizani</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Chynna Syas</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alexis Guzman</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ryan Duong</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alden Duarte-Vasquez</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Maryam Bouamama</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Emily Sok Hawkins</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Andrei Solomon Sanidad Duque</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Durley sandrith Galvan Jimenez </div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Jaehoon Song</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Tony Wu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ruxue Jin</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Krystelle Barroso</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhiyuan Zhang</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Gyugang Lee</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhimin Meng</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Hannah Cotterell</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Bryan Khor</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="static/img/cjt_pfp.jpg">
  </div>
  <div class="student-name">Cheyenne Marie Jao Ty</div>
  <div> School: Cal Poly Humboldt </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is learning more about the process of committing to open source projects and using the Git Workflow. </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Jesus Garcia Loyola </div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Brian Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Saad Malik Paracha</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Mustafa Evgin Demirci</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Cristobal Elizarraraz Rios</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Kyla Macapagal Usi</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Dustin Nam Phan</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Tedman Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Keith Ruxton</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">William Wong</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Youkyoung Kim</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Joshiro Lawrence</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Benjamin Choi</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ocean Tober</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Diana Galeana</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Honghao Lin</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">George Jones</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Usman Tahir</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Nicholas Tran</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Kenneth Requerme Ramos</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Jia Jun Yang</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Alexander Chang</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Zhufan Gu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">YU AN PAN</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Luc Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Arthur Nguyen</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Christian Barajas</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Brian Liu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Yijun Yu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Andy Nam Vo</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ting Zhu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Ravneet Bhatia</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Shizhan Liu</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Adrian Haro</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Sebastian Ramos</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Minh Tran</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          
<div class="student-container">  
  <div>
      <img src="">
  </div>
  <div class="student-name">Promodya Rajapakse</div>
  <div> School:  </div>
  <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
  <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
</div>
          

    

    
</body>
</html>
