<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Yo</title>
    </head>
    <body>
    <h1> Summer 2023 Cohort </h1>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
        <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Natalia Gill </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="nat_uts">Team Nat & Utsab</a>
    </div>
   
    <div class="student-container">  
      <div>
        <img src="static/img/sneha_pic.jpg" />
      </div>
      <div class="student-name"> Sneha De </div>
      <a href='/Team 10'>Team from Module 5</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/alisha.png" />
      </div>
      <div class="student-name"> Alisha Maddy </div>
      <div> School: Portland community college </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is teamwork with my 
        peers and learning new technologies.
      </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: Shengzhe Zhang, Fernando Rodriguez</div>
      <div> Team Write-up: <a href="shengzhe">Team Shengzhe, Alisha and Fernando</a></div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/yuancheng_cao.jpg" />
      </div>
      <div class="student-name"> Yuancheng Cao </div>
      <div> School: UCSD </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is improving my soft skills and updating my resume.</p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>

      <a href="teamWork">Team Jessica, Yuancheng, & Zhenyu</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Sebastian.jpg" />
      </div>
      <div class="student-name"> Sebastian Santoyo </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning new programming languages. </p>
      <a href="team_Di_Si_Se"> team_Di_Si_Se </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Diego  Zavala </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="team_Di_Si_Se"> team_Di_Si_Se </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Andres Ventura </div>
      <div> School: CSUSB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/brian_p.png" />
      </div>
      <div class="student-name"> Brian Palomar-Salazar </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning the necessary skills needed to be successful in a swe role. </p>
      <div> Open Source Project: Firefiles <Wait until Module 5 to answer this> </div>
      <div> Team Members:  Nathan Pham and Brian Palomar <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="nathan_brian"> Team Nathan & Brian</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/IanW.jpg" />
      </div>
      <div class="student-name"> Ian Wong </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is developing my problem solving and software engineering skills. </p>
      <a href="ian_brenden_elias">Team Ian, Brenden, and Elias</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/zach_pic.jpg" />
      </div>
      <div class="student-name"> Zachary Spang </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is being able to get experience working on a big project. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href = "dong_zach_dar">Team Dongping, Zach, and Darren</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/sunveer.jpg" />
      </div>
      <div class="student-name"> Sunveer Bhullar </div>
      <div> School: Cal Poly Pomona </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is getting more technical experience and working on new projects. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href="sun_edm">Team Sunveer & Edmond</a>
    </div>

    <div class="student-container">  
      <div>
        <img src="static/img/LukeBerry.jpeg" />
      </div>
      <div class="student-name"> Luke Berry </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is working together on a project with a team </p>
      <a href = "luke_noah_maya"> Team LNM </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ngoc Chung Tran </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/1676941201770.jpg" />
      </div>
      <div class="student-name"> Magiber Aparicio </div>
      <div> School: Cal State Dominguez Hills </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="team_michael_rahul_magiber">Team Michael, Rahul, and Magiber</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Shawn_Templer.jpg" />
      </div>
      <div class="student-name"> ShawnAnthony Templer </div>
      <div> School: College of the Desert </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is 
        working on a project new to me and learning new technologies and frameworks.</p>
        <a href="alison_rob_shawn">Team Alison Rob & Shawn</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Nathan_Pham.jpg" />
      </div>
      <div class="student-name"> Nathan Pham </div>
      <div> School: San Jose State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is to gain valuable experience and to connect with mentors and companions in the industry.</p>
      <div> Open Source Project: Firefiles<Wait until Module 5 to answer this> </div>
      <div> Team Members: Nathan Pham and Brian Palomar<Wait until Module 5 to answer this> </div>
      <div> Team Write-up: Firefiles<Wait until Module 5 to answer this> </div>
      <a href="nathan_brian"> Team Nathan & Brian</a>
      <a href="/nathan_brian">Team Nathan Pham and Brian Palomar</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/TrongLe_HeadShot_front.jpg" />
      </div>
      <div class="student-name"> Trong Le </div>
      <div> School: San Jose State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is enhancing and extending my skill sets for future SWE jobs. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href='/Team 10'>Team from Module 5</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Michelle_23.png" />
      </div>
      <div class="student-name"> Michelle Tan </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is gain new experiences to apply to my future. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href="boba">Team Boba</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jorge Moreno </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/brenden_pic.jpg" />
      </div>
      <div class="student-name"> Brenden Inhelder </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning alongside a small team with an industry mentor. </p>
      <a href="ian_brenden_elias">Team Ian, Brenden, and Elias</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Noah_Jacinto.PNG" />
      </div>
      <div class="student-name"> Noah Jacinto </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands on experience and working with people along the way. </p>
      <a href = "luke_noah_maya"> Team LNM </a>
    </div>

    <div class="student-container">  
      <div>
        <img src="static/img/Darren_S.jpg" />
      </div>
      <div class="student-name"> Darren Seng </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is becoming more proficient at open source contribution, working with technologies relevant in the industry, and having a promising experience to add to my resume. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href = "dong_zach_dar">Team Dongping, Zach, and Darren</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/DavidNicolasGarcia.jpg" />
      </div>
      <div class="student-name"> David Nicolas Garcia </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is the chance to work on an open-source project and gain hands-on experience with Git and its workflow.</p>
      <a href="james_david">Team James & David </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/maya.JPG" />
      </div>
      <div class="student-name"> Maya Chidambaram </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is being able to make a real-world contribution with newly acquired programming skills</p>
      <a href = "luke_noah_maya"> Team LNM </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/jesse.jpg" />
      </div>
      <div class="student-name"> Jesse Garcia </div>
      <div> School: CSUB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning what to expect in my field. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/gbdom.png" />
      </div>
      <div class="student-name"> Dominic Infante </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is the team experience and general collaborative environment. </p>
      <a href="liu_tuan_dominic">Liu, Tuan, & Dominic</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/TravisC.jpg" />
      </div>
      <div class="student-name"> Travis Chong </div>
      <div> School: UCI </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is getting more experience 
        with open source projects and growing skills to furhter my SWE journey. </p>
      <a href="trav_con"> Team Travis & Conlyn </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Diego_Espinoza.jpg" />
      </div>
      <div class="student-name"> Diego  Espinoza </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is experience.</p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href="boba">Team Boba</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Joshua Fernandez </div>
      <div> School: CSP - Toro CSP at CSUDH </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div> 
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/val_pic.JPG" />
      </div>
      <div class="student-name"> Valerie Escalante </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is the experience of collaborating with others on an impactful project.  </p>
      <a href="nick_val">Team Nick & Val</a> 
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/ShengzheZhang.png">
      </div>
      <div class="student-name"> Shengzhe Zhang </div>
      <div> School: UCD </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is to explore more different aspects in Computer Science field </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: Alisha Maddy, Fernando Rodriguez</div>
      <div> Team Write-up: <a href="shengzhe">Team Shengzhe, Alisha and Fernando</a> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="static/img/ll299.jpg" />
      </div>
      <div class="student-name"> Ling Ching Liu </div>
      <div> School: Cal Poly Humboldt </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is working with a team. </p>
      <a href="liu_tuan_dominic">Liu, Tuan, & Dominic</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Michael Chen </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="team_michael_rahul_magiber">Team Michael, Rahul, and Magiber</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Kory Callanan </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ricardo Nunez </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="sleeper">Team Sleeper</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/SihamPhoto.jpg" />
      </div>
      <div class="student-name"> Siham Argaw </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is getting some real-world experience </p>
      <a href="team_Di_Si_Se"> team_Di_Si_Se </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ricardo  Perez Jr. </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="/static/img/jaime_palacios.jpg" />
      </div>
      <div class="student-name"> Jaime  Palacios </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> I'm always eager to learn about new technologies and how to apply them to my work. I'm particularly interested in topics I haven't touched much on like machine learning, data science, and cloud computing. I believe that these technologies have the potential to revolutionize many industries, and I want to be at the forefront of that revolution</p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="/jaime_edgarh">Team Jaime & Edgar</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/yeeao_image.jpg" />
      </div>
      <div class="student-name"> Alvin Yee </div>
      <div> School: UCI </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is exploring code with my partners and mentor. </p>
      <a href="sleeper">Team Sleeper</a>
      </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Frodriguez116.jpg">
      </div>
      <div class="student-name"> Fernando Rodriguez </div>
      <div> School: CSUDH </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is working on my skills  </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: Shengzhe Zhang, Alisha Maddy</div>
      <div> Team Write-up: <a href="shengzhe">Team Shengzhe, Alisha and Fernando</a> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="static/img/alisonfung.jpg" />
      </div>
      <div class="student-name"> Alison Fung </div>
      <div> School: Cal Poly Pomona </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is: making a contribution to an existing project that will help users in the future </p>
      <a href="alison_rob_shawn">Team Alison Rob & Shawn</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/carlsonR.jpg" />
      </div>
      <div class="student-name"> Robert Carlson </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is creating a positive contribution to the open-source community.</p>
      <a href="alison_rob_shawn">Team Alison Rob & Shawn</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/hongngoc.JPEG" />
      </div>
      <div class="student-name"> Hong Ngoc Nguyen </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <a href="/nt"> Team N & T </a> 
      <p> What I'm most looking forward to about the CodeDay Labs internship is an opportunity to work on a real-world project with the help of a mentor from the industry. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Elias.jpeg" />
      </div>
      <div class="student-name"> Elias  Woldie </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is to work on a real world application, asses my skillset, learn different tech stacks, and to connect with industry mentor.</p>
      <a href="ian_brenden_elias">Team Ian, Brenden, and Elias</a>
    <

  
    <div class="student-container">  
      <div>
        <img src="static/img/james_pic.JPG" />
      </div>
      <div class="student-name"> James  Ramos </div>
      <div> School: Contra Costa College -> Oregon State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is contributing to real world projects with other students! </p>
      <a href="james_david">Team James & David </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/small file.jpg" />
      </div>
      <div class="student-name"> Edgar Ramirez </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="edg_and_edg"> Team Edagr H & Edgar R</a>
      <p> What I'm most looking forward to about the CodeDay Labs internship is getting experience and be able to
        network with other people. </p>
        <a href='/Team 10'>Team from Module 5</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/wannabe linus.png"/>
      </div>
      <div class="student-name"> Nicholas Lee </div>
      <div> School: UCSC </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is contributing to and open source project and getting a feel to what it is like to be in a real internship.</p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="team_kn">Team Nick & Kyle</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> YiOnni Redmon </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/tuan_tran_face.png" />
      </div>
      <div class="student-name"> Tuan Tran </div>
      <div> School: Pasadena City College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learn new skills and tools to solve problems. </p>
      <a href="liu_tuan_dominic">Liu, Tuan, & Dominic</a>
    </div>

    <div class="student-container">  
      <div>
        <img src="static/img/mohamed.jpg" />
      </div>
      <div class="student-name"> Mohammed Mohamed </div>
      <div> School: SFSU </div>
      <p> I look forward to the journey of potentially not knowing how to solve a problem to slowly figuring out how to do it.</p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="boba">Team Boba</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/JessicaNguyen.jpg" />
      </div>
      <div class="student-name"> Jessica Nguyen </div>
      <div> School: College of Marin </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is being able to collaborate with my peers and develop professional interpersonal skills as a software engineer. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>

      <a href="teamWork">Team Jessica, Yuancheng, & Zhenyu</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Dylan Cornel </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/Dongping_pic.JPG"/>
      </div>
      <div class="student-name"> Dongping Guo </div>
      <div> School: CSUEB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is looking at the
        the summer open-source project showing up on my resume. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href = "dong_zach_dar">Team Dongping, Zach, and Darren</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/manny.jpg" />
      </div>
      <div class="student-name"> Emmanuel Jones-Pacheco </div>
      <div> School: San Diego State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is to learn new tools and skills for my future </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edgar Hernandez </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="edg_and_edg"> Team Edagr H & Edgar R</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/KyleDrewes.png" />
      </div>
      <div class="student-name"> Kyle Drewes </div>
      <div> School: Sonoma State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning concepts that will teach me how to become a better programmer.</p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="team_kn">Team Nick & Kyle</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/nick_m.jpg" />
      </div>
      <div class="student-name"> Nicolas Mederos </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is getting to work on something that has real world applications. </p>
      <a href="nick_val">Team Nick & Val</a> 
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/zhenyu_pic.PNG" />
      </div>
      <div class="student-name"> Zhenyu Yu </div>
      <div> School: University of California Santa Barbara </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is getting the experience to work with others on a big project. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      
      <a href="teamWork">Team Jessica, Yuancheng, & Zhenyu</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src=" static/img/Elizabeth.jpg">
      </div>
      <div class="student-name"> Elizabeth Barco Lopez </div>
      <div> School: CSP - Warrior-Toro CSP at El Camino College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is solving real-life problems and learning more about GitHub. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="static/img/Rahul_G.png" />
      </div>
      <div class="student-name"> Rahul Gupta </div>
      <div> School: CSUS (Sacramento State) </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is gaining experience and working with others! </p>
      <a href="team_michael_rahul_magiber">Team Michael, Rahul, and Magiber</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/conlyn_pic.jpg" />
      </div>
      <div class="student-name"> Conlyn Pattison </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is gaining experience and knowledge by collaborating with my team and industry mentor. </p>
      <a href="trav_con"> Team Travis & Conlyn </a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edmond Lee </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
        <a href="sun_edm">Team Sunveer & Edmond</a>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="static/img/TamNguyen.jpg" />
      </div>
      <div class="student-name"> Tam Nguyen </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is an environment that resembles a tech internship where I could develop industry skills. </p>
      <a href="/nt"> Team N & T </a> 
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Carlos Santiago Pacheco </div>
      <div> School: CSin3 Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Gagan Rampur </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Bhumin solanki </div>
      <div> School: CSUDH </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Minh Tran </div>
      <div> School: CSUSM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Jorge Marquez </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Edenilson Zetino </div>
      <div> School: Bakersfield College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Akhil Kalakota </div>
      <div> School: Moorpark College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Carlos Lopez </div>
      <div> School: San Diego State University </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Camille Clendenon </div>
      <div> School: CS++ Cohort at CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Soroush  Mahdavi </div>
      <div> School: San Diego Mesa college  </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Eric Escareno </div>
      <div> School: CSUSM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Aleia Natividad </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Megan  Chung </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Wilmer  Chang </div>
      <div> School: CCNY </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Kerem Evrenosoglu </div>
      <div> School: University of San Francisco </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Anisha Jadhav </div>
      <div> School: CSUMB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Samuel Lara </div>
      <div> School: CSULB </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Ryan Daliwal </div>
      <div> School: Humboldt State </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Victor Zavala </div>
      <div> School: Orange Coast College </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

  
    <div class="student-container">  
      <div>
        <img src="" />
      </div>
      <div class="student-name"> Sirasit Thitirattanakorn </div>
      <div> School: CCSF </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
        <img src="../static/img/aaron_pic.jpg" />
      </div>
      <div class="student-name"> Aaron Hamilton </div>
      <div> School: CSU San Marcos </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is to be able to grow as a software engineer and pick up some real world experience. </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
      <a href="boba">Team Boba</a>
    </div>
    

    <div class="student-container">  
      <div>
        <img src="static/img/koryca.jpeg" />
      </div>
      <div class="student-name"> Kory Callanan </div>
      <div> School: SFSU </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
      <div> Open Source Project: <Wait until Module 5 to answer this> </div>
      <div> Team Members: <Wait until Module 5 to answer this> </div>
      <div> Team Write-up: <Wait until Module 5 to answer this> </div>
    </div>

    <div class="student-container">  
      <div>
          <img src="static/img/armando_pic.jpg">
      </div>
      <div class="student-name"> Armando Vega </div>
      <div> School: CSU Monterey Bay </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is advancing my basic skillset in being able to work on big projects with people! </p>
      <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
</body>
</html>
