<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Yo</title>
    </head>
    <body>
    <h1> Summer 2025 Cohort </h1>
    <div class="student-container">  
        <div>
            <img src="static/img/utsab_pic.jpeg">
        </div>
        <div class="student-name"> Utsab Saha </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is ... </p>
        <a href="nat_uts">Team Nat & Utsab</a>
    </div>
    
    <div class="student-container">  
      <div>
          <img src="static/img/Suchith_Gali.jpeg">
      </div>
      <div class="student-name"> Suchith Gali </div>
      <div> School: UCM </div>
      <p> What I'm most looking forward to about the CodeDay Labs internship is learning valuable job and teamworking skills from experienced engineers.</p>
      <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/New_LinkedIn_2.jpg">
        </div>
        <div class="student-name"> Brette Fitzgibbon </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is learning new open source and programming skills. </p>
        <a href="michael_brette_joshua_krishneet">Team page: Michael, Brette, Joshua, Krishneet</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/ProfilePicture.jpg">
        </div>
        <div class="student-name"> Kevin Beltran </div>
        <div> School: Cal Poly SLO </div>
        <p> I am really looking forward to learning about how to contribute to open source through CodeDay Labs </p>
        <a href="/bo_kevin_miller">Team Bo & Kevin & Miller </a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/Andre_Dargani.jpg">
        </div>
        <div class="student-name"> Andre Dargani </div>
        <div> School: San Francisco State University </div>
        <p> I'm excited to make my first open source contriubtion and make a positive impact to the open source community </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/c_tangonan.jpg">
        </div>
        <div class="student-name"> Chris Tangonan </div>
        <div> School: CSU Monterey Bay </div>
        <p> I'm looking forward to learning more about the open source community, and to hopefully provide a meaningful contribution to the team. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/ezequiel_pic.jpg">
        </div>
        <div class="student-name"> Ezequiel Reyes </div>
        <div> School: CSU Monterey Bay </div>
        <p> What I'm looking forward to about the CodeDay Labs internship is gaining experience and making a meaningful contribution. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

            <img src="static/img/IMG_5733.jpeg">
        </div>
        <div class="student-name"> Brent Uyguangco </div>
        <div> School: El Camino College </div>
        <p> I am excited to be a part of CTI's open source partnership with CodeDay, hoping to make a positive contribution to the best of my abilities </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">  
        <div>
            <img src="static/img/static/img/neel_pic.jpeg">
        </div>
        <div class="student-name"> Neel Deshmukh </div>
        <div> School: City College of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is addig some open-source experience to my resume! </p>
    </div>
    <div class="student-container">  
        <div>
            <img src="static/img/jane_pic.jpg">
        </div>
        <div class="student-name"> Jane Swingler </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is making my first contribution to an open source project. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>


    <div class="student-container">  
        <div>
            <img src="static/img/LarsV.jpg">
        </div>
        <div class="student-name"> Lars Voigt-Bui </div>
        <div> School: Irvine Valley College </div>
        <p> What I'm most looking fowards to is the Open Source programs and improving my coding skills. </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>


    <div class="student-container">  
        <div>
            <img src="static/img/KoichiNakata.jpg">
        </div>
        <div class="student-name"> Koichi Nakata </div>
        <div> School: University of San Francisco </div>
        <p> What I'm most looking forward to about the CodeDay Labs internship is gaining hands-on experience of open-source project! </p>
        <a href="">Team page (leave blank until Module 5 when you will be assigned to your teams</a>
    </div>

    <div class="student-container">
        <div>
            <img src="static/img/aizen.png">
        </div>
        <div class="student-name">Aizen Baidya</div>
        <div>School: UC Merced</div>
        <p>What I'm most looking forward to about the CodeDay Labs internship is learning about and gaining experience
            working with industry-relevant technologies and contributing to a meaningful open-source project.</p>
    </div>
</body>
</html>
